@import "tailwindcss";

@theme {
  --animate-fade-in-scale: fade-in-scale 3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-faster-fade-in-scale: faster-fade-in-scale 1s ease-out;
  @keyframes faster-fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-faster-fade-out-scale: faster-fade-out-scale 1s ease-out;
  @keyframes faster-fade-out-scale {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  --animate-merge-navbar-left: merge-navbar-left 0.7s cubic-bezier(0.7, 0.2, 0, 1); 
  @keyframes merge-navbar-left {
    to {
      transform: translate(72px);
    }
  }

  --animate-merge-navbar-right: merge-navbar-right 0.7s cubic-bezier(0.7, 0.2, 0, 1); 
  @keyframes merge-navbar-right {
    to {
      transform: translate(-72px);
    }
  }
}
